# ==================== STM32CubeIDE ====================
Debug/
Release/
*.o
*.elf
*.hex
*.bin
*.map
*.lst
*.su
*.d
*.launch

# CubeMX и временные файлы
*.bak
*.db
*.mxproject
*.ioc.bak

# Настройки IDE (личные)
.settings/
.cproject
.project
*.prefs
*.xml
*.html

# Build artifacts
**/build/
**/out/

# OS файлы
.DS_Store
Thumbs.db